In [1]:
"""Function Practice Exercises"""

'Function Practice Exercises'

In [3]:

#WARMUP SECTION:

# ##LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd

#lesser_of_two_evens(2,4) --> 2
#lesser_of_two_evens(2,5) --> 5

In [10]:
def lesser_of_two_evens(a,b):
    for i in a,b:
        if a % 2 == 0 and b % 2 == 0:
            return(min(a,b))
        
        elif a % 2!= 0 or b % 2 != 0:
            return max(a,b)
        else:
            pass

In [ ]:
# Check
lesser_of_two_evens(2,4)

In [12]:
# Check
lesser_of_two_evens(2,5)

5

## ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter

animal_crackers('Levelheaded Llama') --> True
 
 
animal_crackers('Crazy Kangaroo') --> False

In [29]:
def animal_crackers(text):
    wordlist = text.split()
    return wordlist[0][0] == wordlist[1][0]

In [30]:
# Check
animal_crackers('Levelheaded Llama')

True

In [31]:
# Check
animal_crackers('Crazy Kangaroo')

False

### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 or if one of the integers is 20. If not, return False 

makes_twenty(20,10) --> True

makes_twenty(12,8) --> True

makes_twenty(2,3) --> False

In [42]:
def makes_twenty(n1,n2):
    for num in n1,n2:
        if n1+n2 == 20 or n1==20 or n2 == 20:
            return True
        else:
            return False

In [43]:
# Check
makes_twenty(20,10)

True

In [44]:
# Check
makes_twenty(2,3)

False

# OR

In [45]:
def makes_twenty(n1,n2):
    return (n1+n2 == 20 or n1 == 20 or n2 == 20)

In [46]:
# Check
makes_twenty(20,10)

True

In [47]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name

old_macdonald('macdonald') --> MacDonald

Note: 'macdonald'.capitalize() returns 'Macdonald'

In [60]:
def old_macdonald(name):
    if len(name) > 3:
        return name[:3].capitalize() + name[3:].capitalize()
    else:
        return 'Name is too short!'

In [61]:
# Check
old_macdonald('macdonald')

'MacDonald'

### MASTER YODA: Given a sentence, return a sentence with the words reversed

master_yoda('I am home') --> 'home am I'
master_yoda('We are ready') --> 'ready are We'

Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

>>> "--".join(['a','b','c'])
>>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

>>> " ".join(['Hello','world'])
>>> "Hello world"

In [8]:
def master_yoda(text):
    return ' '.join(text.split()[::-1])

In [9]:
master_yoda('I am home')

'home am I'

In [10]:
master_yoda('We are ready')

'ready are We'

### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

almost_there(90) --> True
almost_there(104) --> True
almost_there(150) --> False
almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [20]:
def almost_there(n):
    return ((abs(100-n) <= 10) or (abs(200-n) <=10))

In [21]:
almost_there(90)

True

In [22]:


# Check
almost_there(104)

True

In [23]:
# Check
almost_there(150)

False

In [24]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS


FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True

has_33([1, 3, 1, 3]) → False

has_33([3, 1, 3]) → False

In [35]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i] == 3 and nums[i+1] == 3:
            return True
    return False

In [38]:
# Check
has_33([1, 3, 3])

True

In [39]:
# Check
has_33([1, 3, 1, 3])

False

In [40]:
# Check
has_33([3, 1, 3])

False

### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters

paper_doll('Hello') --> 'HHHeeellllllooo'
paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [43]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [44]:
paper_doll('Hello')

'HHHeeellllllooo'

In [45]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'

blackjack(5,6,7) --> 18
blackjack(9,9,9) --> 'BUST'
blackjack(9,9,11) --> 19

In [49]:
def blackjack(a,b,c):
    if sum((a,b,c)) <=21 :
        return sum((a,b,c))
    elif sum((a,b,c)) >= 21 and 11 in (a,b,c):
        return sum((a,b,c))- 10
    else:
        return 'BUST'

In [50]:
# Check
blackjack(5,6,7)

18

In [51]:
# Check
blackjack(9,9,9)

'BUST'

In [52]:
# Check
blackjack(9,9,11)

19

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9 

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [1]:
def summer_69(arr):
    total =0
    add =  True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9 :
                break
            else:
                add = True 
                break
    return total

In [2]:
summer_69([1, 3, 5])

9

In [3]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

    spy_game([1,2,4,0,0,7,5]) --> True
    spy_game([1,0,2,4,0,5,7]) --> True
    spy_game([1,7,2,0,4,5,0]) --> False

In [35]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [36]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [37]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [38]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the number of prime numbers that exist up to and including a given number¶

count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [34]:
def count_primes(n):
    for number in n:
        if number

True