In [1]:
def reverse_sentence(text):
    return ' '.join(text.split() [::-1])

In [2]:
reverse_sentence('I am very Happy')

'Happy very am I'

In [5]:
def almost_there(n):
    return ((abs(100-n) <=10) or (abs(200-n) <=10))

In [6]:
almost_there(98)

True

In [7]:
almost_there(150)

False

# ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200
almost_there(90) --> True almost_there(104) --> True almost_there(150) --> False almost_there(209) --> True

NOTE: abs(num) returns the absolute value of a number

In [8]:
def almost_there(n):
    return ( (abs(100 - n) <=10 ) or (abs(200 - n )<=10 ))

In [9]:
almost_there(105)

True

# LEVEL 2 PROBLEMS
FIND 33:

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

has_33([1, 3, 3]) → True
has_33([1, 3, 1, 3]) → False
has_33([3, 1, 3]) → False

In [10]:
def has_33(nums):
    for i in range(0,len(nums)-1):
        if nums[i]== 3 and nums[i+1]==3:
            return True
    return False

In [11]:
has_33([3,3,1])

True

In [12]:
has_33([1,3,1])

False

In [13]:
has_33([2,3,3])

True

# PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
paper_doll('Hello') --> 'HHHeeellllllooo' paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [14]:
def paper_doll(text):
    result = ''
    for char in text:
        result += char * 3
    return result

In [15]:
paper_doll('Hello')

'HHHeeellllllooo'

In [16]:
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

# BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 and there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
blackjack(5,6,7) --> 18 blackjack(9,9,9) --> 'BUST' blackjack(9,9,11) --> 19

In [17]:
def blackjack(a,b,c):
    if sum((a,b,c)) <= 21:
        return sum((a,b,c))
    elif sum((a,b,c)) >= 21 and 11 in (a,b,c):
        return sum((a,b,c))- 10
    else:
        return 'BUST'

In [18]:
blackjack(5,6,7)

18

In [19]:
blackjack(9,9,9)

'BUST'

In [20]:
blackjack(9,9,11)

19

# SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.

summer_69([1, 3, 5]) --> 9 

summer_69([4, 5, 6, 7, 8, 9]) --> 9

summer_69([2, 1, 6, 9, 11]) --> 14

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    
    for num in arr:
        while add:
            if num != 6:
                total += num
            else:
                add = False